<body>
<div class="form">
<form (ngSubmit)="signUpUser()">
<div>
<h2>Sign Up</h2>
<label for="email">Email :</label><br>
<input [(ngModel)]="email" width="100px" name="email" id="email" type="email" placeholder=" Exemple : myEmailx@gmail.com" required>
</div>

<div>
<label for="password">Password : </label><br>
<input  [(ngModel)]="password" width="100px"  name="password" id="password" type="password" required>
</div>


<div>
 <button type="submit" >S'inscrire</button>
</div>


<div>
    <a [routerLink]="['/login']">Déja inscrit? Se connecter</a>
</div>
</form>


</div>
</body>